._4png{height:100%;position:fixed;width:100%}._t9_{background-color:rgba(0, 0, 0, .6);height:100%;left:0;overflow:hidden;position:absolute;top:0;width:100%}._ixc{height:100%;left:0;margin:auto;max-width:480px;overflow:hidden;position:absolute;right:0;top:0;width:100%}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fullScreen{height:100%;width:100%}/*FB_PKG_DELIM*/

#bootloader_c0F4k6Z{height:42px;}